.navbar,
.footer {
    background-color: #000;
    padding-right: 50px;
    padding-left: 50px;
}

.navbar .form a,
.navbar .mobileMenu li a:hover,
.navbar .mobileMenu li button:hover {
    background-color: #ED0606;
}
/*  ----   navbar  ----  */
.navbar {
    color: #fff;
    padding-top: 16px;
    height: 62px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9999;
    margin-bottom: 90px;
    text-transform: capitalize;
}

.navbar a {    /* any link in navbar */
    color: #fff;
    text-decoration: none;
}

/* logo */
.navbar .logo { 
    display: inline-block;
    width: 15%;
}
.navbar .logo a {    font-size: 30px }
.navbar .logo span {
    color: #ED0606;
    font-size: 22px;
}

/* fields */
.navbar .fields {  width: 80%  }
.navbar .fields li {  margin-right: 15px  }
.navbar .fields li a { 
    display: inline-block;
    padding: 0 5px 22px;
}
.navbar .fields ul li:hover {
    border-bottom: 2px solid #ED0606;
}

/*  form  */
.navbar .form {
    width: 17%;
}
.navbar .form li:first-of-type {  margin-right: 8% }
.navbar .form a {
    border-color: #ED0606;
    display: inline-block;
    box-shadow: 1px 1px 2px #ff4f4f;
}

.navbar .form .username {
    font-size: 18px;
    padding: 18px 5px 4px;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    top: -25px;
    width: 100%;
}
.navbar .form .username:hover {
    background-color: #464646;
}

.navbar .form .username img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 8px;
}

.navbar .form .username span {
    position: relative;
    top: -16px;
}

.navbar .form .username .account-info {
    background-color: #000;
    display: none;
    position: absolute;
    top: 71px;
    left: 0;
}
.navbar .form .username .account-info a {
    background-color: transparent;
    border-bottom: 1px solid #ED0606;
    box-shadow: none;
    padding: 12px 20px;
    text-align: left;
}
.navbar .form .username .account-info li:last-of-type a {  border-bottom: none;
}
.navbar .form .username .account-info a:hover {  background-color: #222 }

.navbar .form .username:hover .account-info {
    display: block;
}


/*  mobile menu  */
.navbar .mobileMenuButton {  /*  button  */
    display: none;
}

.navbar .mobileMenu {  /*  menu  */
    display: none;
}
.navbar .mobileMenu li a {
    display: inline-block;
    padding: 10px 20px;
}

.navbar .mobileMenu hr {   border-color: #ED0606 }

.navbar .mobileMenu li button {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    text-align: left;
}
/*  --------------------------------  */

/*  footer  */
.footerLinks {
    background-color: #222;
    color: #fff;
    padding: 15px;
    max-height: 280px;
}
.ftLinks {  
    width: 33.3%;
}
.ftLinks h2 {
    font-size: 18px;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 65px;
}
.ftLinks a {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    margin-top: 5px;
}
.ftLinks a:hover {
    color: #ED0606;
    text-decoration: underline;
}

.followUs h2,
.contact h2 {  width: 105px }

.followUs li,
.contact li { 
    padding: 12px 0;
    position: relative;
}
.followUs a,
.contact span {
    display: inline-block;
    font-size: 16px;
    margin-left: 50px;
}

.followUs img,
.contact i {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 8px;
}

.footer {
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 40px;
}
.footer p {
    font-size: 14px;
    letter-spacing: 3px;
    width: 27%;
    margin: 0 auto;
}